* {
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --main-bg-color: aquamarine;
}
body {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.2em;
}
h1,
h2,
ul {
  margin: 0;
  text-align: left;
  padding-left: 20px;
}
header {
  background-color: aquamarine;
  margin-bottom: 20px;
}
header button {
  float: right;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 2em;
}

nav ul {
  list-style: none;
  padding: 10px;
  display: flex;
  gap: 0.2em;
  flex-direction: row;
  justify-content: center;
}
nav ul li a {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #282c34;

  background-color: beige;

  border-radius: 0.5em;
}
nav ul li a:hover {
  background-color: rgb(31, 163, 91);
}
.clearfix {
  clear: both;
}
.wrapper-galeria {
  max-width: 600px;
  margin: auto;
  position: relative;
  text-align: center;
  background-color: aqua;
}
.wrapper-galeria img {
  width: 33.3%;
  height: auto;
  padding: 0;
  margin: 0;
  float: left;
}
.wrapper-galeria .imatge-gran {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

/* Comptador */
.comptador-wrapper {
  width: 300px;
  margin: auto;
}
.comptador-wrapper .display {
  background-color: #282c34;
  color: antiquewhite;
  box-sizing: border-box;
  height: 100px;
  padding: 30px;
  border: 1px solid black;
  text-align: center;
}
.comptador-wrapper .container-btns {
  display: flex;
  height: 80px;
}
.comptador-wrapper .container-btns button {
  width: 50%;
}
.comptador-wrapper button {
  height: 80px;
  width: 100%;
}
/* Acordio */
.acordio-wrapper {
  width: 300px;
  margin: auto;
}
.contingut {
  display: inline;
}
.contingut {
  display: none;
}
.element-acordio {
  border: 1px solid black;
  border-radius: 5px;
}
.element-acordio-seleccionat {
  border: 1px solid black;
  border-radius: 5px;
  background-color: coral;
}

/* Carrusel */
.wrapper-carrusel {
  max-width: 500px;
  margin: auto;
}
.body-carrusel {
  width: 100%;
  display: flex;
  height: 400px;
}
.body-carrusel button {
  width: 20%;
}
.body-carrusel div {
  position: relative;
  width: 60%;
}
.body-carrusel img {
  width: 100%;
  height: auto;
}
.body-carrusel div .navegacio-imatges-carrusel {
  position: absolute;
  bottom: 0;
  display: flex;
  height: 35px;
  width: 100%;
}
.navegacio-imatges-carrusel button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  border-radius: 50%;
}
.btn-foto-actual {
  background-color: #282c34;
  color: white;
}
.navegar-carrusel {
  border: 0;
  background-color: darkgrey;
  cursor: pointer;
}
.navegar-carrusel.enrere {
  border-radius: 10px 0px 0px 10px;
}
.navegar-carrusel.endavant {
  border-radius: 0px 10px 10px 0px;
}
/*Tres en ratlla*/
.wrapper-tres-en-ratlla {
  max-width: 400px;
  height: 400px;
  margin: auto;
}

.wrapper-tres-en-ratlla .btn-tauler {
  width: 33.3%;
  height: 100px;
  float: left;
}
.btn-reset {
}
.btn-reset-hidden {
  display: none;
}

/*Rellotge digital*/
.hidden {
  display: none;
}
.wrapper-rellotge-digital {
  position: relative;
  height: 150px;
  text-align: center;
}
.wrapper-rellotge-digital label {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.wrapper-rellotge-digital p {
  margin: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
}

/* Rellotge analògic*/

.rellotge-analogic {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  border: 1px solid black;
  border-radius: 50%;
}

#agulla-segons {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 2px;
  height: 100px;
  background-color: red;
  transform-origin: bottom center;
}
#agulla-minuts {
  position: absolute;
  top: 10px;
  left: 100px;
  width: 2px;
  height: 90px;
  background-color: blue;
  transform-origin: bottom center;
}
#agulla-hores {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 2px;
  height: 50px;
  background-color: green;
  transform-origin: bottom center;
}
.num-hora {
  width: 20px;
  height: 20px;
  position: absolute;
}
#hora-3 {
  right: 0;
  top: 90px;
}
#hora-6 {
  bottom: 0;
  left: 90px;
}
#hora-9 {
  bottom: 90px;
  left: 0px;
}
#hora-12 {
  left: 90px;
  top: 0px;
}

/* Sumador de numeros */
.sumador-numeros-wrapper {
  max-width: 300px;
  margin: auto;
  text-align: center;
}
.sumador-numeros-wrapper label {
  display: inline-block;
  width: 20%;
}
.sumador-numeros-wrapper input {
  box-sizing: border-box;
  width: 80%;
}
.sumador-numeros-wrapper div {
  height: 40px;
}
.sumador-numeros-wrapper button {
  height: 50px;
}

/* Tip Calculator*/

.wrapper-tip-calculator {
  max-width: 350px;
  margin: auto;
  text-align: center;
}
.wrapper-tip-calculator div {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper-tip-calculator input[type="number"] {
  width: 65px;
  box-sizing: border-box;
}
.wrapper-tip-calculator input:read-only {
  background-color: #ccc;
}
.wrapper-tip-calculator form {
  padding: 8%;

  background-color: #ccc;
  border-radius: 10px;
}
.togglebutton-wraper {
  padding: 0 30px;
  text-align: center;
}
.togglebutton-wraper button {
  padding: 10px;
  border: 1px solid #282c34;
  border-radius: 5px;
  margin: 30px;
}
.btn-premut-true {
  background-color: rgb(255, 50, 50);
}
.btn-premut-false {
  background-color: rgb(0, 165, 82);
}
.groupbutton-wraper {
  text-align: center;
}
.groupbutton-wraper button {
  padding: 30px;
  border: none;
  margin: 1px;
}
.groupbutton-wraper .btn-seleccionat {
  background-color: rgb(255, 46, 46);
}
.groupbutton-wraper .btn-no-seleccionat {
  background-color: #aaa;
}
.input-array1 {
  width: 50px;
}
.div-inputs-array1 {
  width: 50px;
  margin: 15px auto 0 auto;
}
.arrays1-flex .col2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
.arrays1-wrapper {
  text-align: center;
}
.arrays1-flex {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}
.arrays1-wrapper .resultat-calcul {
  display: inline-block;
  padding: 0.5em;
  background-color: aquamarine;
}
.arrays2-wrapper {
  padding: 10px;
}
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul li a {
    font-size: 1em;
    padding: 0.5em;
    flex-direction: column;
  }
}
